# ASSIGNMENT-1

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

In [ ]:
values='hello',-87.8,6
operators=+,/,*,-

2. What is the difference between string and variable?

In [ ]:
The variables are the symbols that is used to store data in a program
The String are the data which is used to fill up the variable.

3.Describe three different data types.

In [ ]:
The three types of data types are-
1- String Data type is used to store data in a variable and it should be written in inverted comma's.example-"Hello",'Hello'
2- Integer data type is used to store number in a variable except decimal values. example a=45.
3- Boolean data type which shows the output in true or false only.

4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of values and operators. All expressions evaluate to a single value

This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
An expression evaluates  to a single value. A statement does not.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
output=23

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [ ]:
The output will be same in both the cases
output-1= 'spamspamspam'
output-2= 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Egg is valid variable and 100 is not because variable name cannot start with a number

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
The int(), float(), and str() functions will evaluate to the integer, floating-point number, 
and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [ ]:
The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings 
with the + operator. The correct way is I have eaten ' + str(99) + ' burritos.'.